{% extends "products/base.html" %}
{% load  static %}
 
 {% block titulo %}
     Carga Placa Madre
 {% endblock titulo %}
 
 {% block contenido %}
 


 
<body>
         
    <div id="contenedor">
        <div id="central">
            <div id="login">
                <div class="titulo">
                   Carga de Placas Madres
                </div>
                 <form action="{% url 'placa' %}" method='post'>
                    {%csrf_token%}
                   <p> Marca:</p>
                   <input type='text' name='marca'>
                   <p> Modelo:</p>
                   <input type='text' name='modelo'>
                   <p> Stock:</p>
                   <input type='number' name='stock'>
 
                   <input type='submit' value='Enviar'>


                  </form>
                  
                </div>
            </div>

        </div>
    </div>
</body>



 {% endblock contenido %}